#cmb_logo {
    margin: 0;
    width: 10em;
}

#bild1 {
    display: block;
    padding-top: 2.5em;
    margin: 0 auto;
    width: 60em;
}


hr {
    display: block;
    border: 0;
    border-top: 0.3em solid rgb(216, 3, 3);
    margin: 2em 0;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
    font-weight: bold;
    padding-top: 1em;
    text-align: center;
    color: rgb(216, 3, 3);
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    line-height: 1.8em;
    text-align: center;
}

/*Menüleiste*/
menu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

menu ul {
    list-style-type: none;
    list-style-image: none;
}

menu li.topmenu{
    float: left;
}

.topmenu a {
    text-align: center;
}

.topmenu ul {
    display: none;
}

.topmenu a, .submenu a {
    padding: 2.4em;
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.topmenu a:hover{
    color: rgb(216, 3, 3);
}
/*Menüleiste*/



/* Eric */
.h-linebox{
    grid-template-rows: 80% 10% 20%;
    display: grid;
    
}
.h-devider{
    display: grid;
    grid-template-columns: auto 225px auto;
    width: inherit;
}