body {
    margin: 0;
}

#cmb_logo {
    margin: 0;
    width: 10em;
}

#subtitle{
    align-items: baseline;
    margin: auto;
    width: fit-content;
    margin-bottom: 0em;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.5em;

    font-weight: bold;
    color:rgb(205, 6, 25);
}
#menuicon {
    padding: 0.5em;
    margin: 0;
    width: 2em;
    vertical-align: middle;
    float: right;
}

#menuicon:hover {
    cursor: pointer;
}


hr {
    display: block;
    border: 0;
    border-top: 0.3em solid rgb(205, 6, 25);
    margin: 0.3em 0;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: rgb(205, 6, 25);
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 3em;
    margin-bottom: 1em;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.content {
    padding-left: 5em;
    padding-right: 5em;
}

.text p, .text li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    line-height: 1.8em;
    text-decoration: none;
    color: black;
}

.text a {
    color: black;
    line-height: 1.8em;
}

.text a:hover {
    color: rgb(205, 6, 25);
}

.kontakte-bilder {
    display: grid;
    width: inherit;
    padding-right: 1em;
}


@media (min-width: 60em) {
    #bgm {
        display: none;
    }

    .hamburger {
        display: none;
    }
    
    .footer {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: inherit;
    }

    .menue-mobile {
        position: absolute;
        visibility: hidden;
    }
}

@media (max-width: 60em){

    #bgd {
        display: none;
    }

    #mainmenue {
        display: none;
    }

    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .content h1 {
        display: none;
    }

    .hamburger {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        width: inherit;
    }
}

.hamburger h1 {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    font-size: 1.5em;
    text-align: center;
    color: gray;
}

.topmenu a:hover{
    color: rgb(205, 6, 25);
}
/*Menüleiste*/


/*Bildungsgänge*/

.bildungsgaenge-desktop {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 2.5%;

    display: grid;
    grid-template-columns: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%;
    width: inherit;
}

.box {
    display: grid;
    grid-template-rows: auto auto;
}

.box img {
    min-width: 100%;
    max-width: 100%
}

.box a {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: rgb(205, 6, 25);
    text-decoration: none;
    color: white;
}

.box a:hover {
    background-color: rgb(218, 78, 78);
}

/*Bildungsgänge-mobile*/

.bildungsgaenge-mobile {
    margin-bottom: 2em;
}

.menuecell-bg {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgb(205, 6, 25);
    padding-top: 1em;
    padding-bottom: 1em;
}

.menuecell-bg {
    margin-bottom: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
}

.menuecell-bg a {
    text-decoration: none;
    color: white;
    margin-bottom: 1em;
}

.menuecell-bg:hover {
    background-color: rgb(218, 78, 78);
}

/*Bildungsgänge-mobile*/

/*Footer*/
.footer_text h2 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 1.1em;
    text-align: center;
    color: rgb(205, 6, 25);
}

.footer_text p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-weight: bold;
    text-align: center;
    color: gray;
}

.footer_text a{
    color: gray;
}

.footer_text a:hover {
    color: black;
}

/*Footer*/

/* Eric */
.h-linebox{
    grid-template-rows: 85% 10% 5%;
    display: grid;
    
}
.h-devider{
    display: grid;
    grid-template-columns: auto 100px auto;
    width: inherit;
}

.h-menuebar{
    display: grid;
    padding-left: 3%;
    padding-right: 3%;
    grid-template-columns: auto 2% auto 2% auto 2% auto 2% auto 2% auto 2% auto;
    align-items: center;
    width: inherit;
}

.h-menuecell, .drop-menuecell{
    width: auto;
}

.h-menuecell a, .drop-menuecell a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(135, 135, 135);
    text-decoration: none;
}

.dropdown {
    visibility: hidden;
    position: absolute;
    padding-top: 1em;
}

.dropdown a {
    display: block;
    text-align: left;
    color: rgb(88, 88, 88);
    border: 1px solid #e7e7e7;
    background: #f1f1f1;
    border-spacing: 0.1em;
    line-height: 2.2em;
    padding: 0 1em 0 1em;
}

.h-menuecell a:hover{
    color:  rgb(205, 6, 25);
}

.drop-menuecell:hover .dropdown, .drop-menuecell a:hover{
    visibility: visible;
    display: block;
    color:  rgb(205, 6, 25);
    cursor: pointer;
}

#mainmenue{
    padding-top: 1em;
}

/*Menü Mobile*/
.menue-mobile{
    display: none; /* Wird durch Javascript deaktiviert*/
    background-color: #e7e7e7;
}

.dropdown-mobile {
    display: none;
    visibility: hidden;
    padding-left: 2em;
}

.menuecell-mobile, .dropcell-mobile {
    padding-left: 2em;
    padding-right: 2em;
}

.menuecell-mobile a, .dropcell-mobile a{
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    line-height: 2.1;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    color: gray;
    border-top: 1px solid white;
}

.dropdown-mobile a {
    padding-left: 0;
    color: rgb(88, 88, 88);
}

.menuecell-mobile a:hover{
    color:  rgb(205, 6, 25);
}

.dropcell-mobile:hover .dropdown-mobile, .dropcell-mobile a:hover{
    visibility: visible;
    display: block;
    color:  rgb(205, 6, 25);
    cursor: pointer;
}
/*Menü Mobile*/

.slides{
    display: flex;
    margin: auto;
    width: fit-content;
}

.slider-container{
    /*width: 863px;*/
    max-width: 100%;
    height: 372px;
    margin: auto;
    margin-bottom: 0px;
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
}

.slide-pictures{
    width: 863px;
}

button{
    width: 100px;
}